# Ignore the CIFAR-10 dataset directory
data/
datasets/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore saved PyTorch model weights (optional, but good practice)
*.pt
*.pth

# Ignore virtual environment folders (if you are using one locally)
venv/
env/
.env

# Ignore IDE specific folders
.vscode/
.idea/